.wallet-container {
  display: flex;
  background-color: var(--background-color);
  height: 100vh;
}
  
.wallet-content {
  flex-grow: 1;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}