.header-container {
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	padding: 20px;
  	background-color: var(--background-color);
  	color: var(--text-color);
  	border-bottom: 1px solid var(--secondary-color);
  	width: calc(100% - 275px);
  	position: fixed;
  	top: 0;
  	left: 275px;
}

.header-title {
  	flex-grow: 1;
  	word-break: break-word;
}

.header-title h2 {
  	margin: 0;
  	font-size: 24px;
  	color: var(--text-color);
}

.header-toggle {
	display: flex;
  	align-items: center;
}

.theme-toggle-button,
.logout-button {
  	background-color: var(--secondary-color);
  	color: var(--text-color);
	border: none;
  	border-radius: 5px;
  	padding: 10px 20px;
  	cursor: pointer;
  	font-size: 16px;
  	transition: background-color 0.3s, color 0.3s;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	margin-left: 10px;
}

.theme-toggle-button:hover,
.logout-button:hover {
	background-color: var(--primary-color);
	color: var(--text-color);
}

.theme-toggle-button:focus,
.logout-button:focus {
	outline: 2px solid var(--primary-color);
}

@media (max-width: 768px) {
	.header-container {
		flex-direction: column;
		align-items: flex-start;
		padding: 15px;
  	}

  	.header-title {
		margin-bottom: 10px;
    	text-align: center;
  	}

	.header-toggle {
		width: 100%;
		justify-content: flex-end;
	}

	.theme-toggle-button,
  	.logout-button {
		padding: 8px 16px;
    	font-size: 14px;
	}

	.theme-toggle-button svg,
	.logout-button svg {
		width: 20px;
    	height: 20px;
	}
}