.forgot-password-container {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.forgot-password-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--background-color);
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 400px;
}

.forgot-password-header {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 8px;
}

.return-button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    transition: color 0.3s ease;
    width: 20%;
    text-align: left;
}

.return-button:hover {
    color: var(--primary-color);
}

forgot-password-container h2 {
    color: var(--text-color);
    font-size: 1.8rem;
    width: 80%;
    text-align: left;
    margin: 0;
    display: inline;
}

.confirmation-message {
    text-align: center;
    margin-top: 20px;
}

.confirmation-message p {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

.forgot-password-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.forgot-form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.forgot-form-group label {
    margin-bottom: 8px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
}

.forgot-form-group input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid var(--text-color);
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
}

.forgot-form-group input:focus {
    border-color: var(--secondary-color);
}

.recovery-button {
    background-color: var(--secondary-color);
    color: var(--background-color);
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 12px;
    transition: background-color 0.3s ease;
}

.recovery-button:hover {
    background-color: #1f47c7;
}
